In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import re 
import nltk
import string
from sklearn.feature_extraction._stop_words import ENGLISH_STOP_WORDS

In [4]:
fakeDF = pd.read_csv('dataset/Fake.csv')
trueDF = pd.read_csv('dataset/True.csv')

In [209]:
fakeDF['text'] = fakeDF['title']+fakeDF['text']

In [210]:
t = trueDF['text'].str.partition('(Reuters) -')
trueDF['text'] = t[2]

In [211]:
trueDF['text'] = trueDF['title']+trueDF['text']

In [212]:
trueDF.pop('title')

0        As U.S. budget fight looms, Republicans flip t...
1        U.S. military to accept transgender recruits o...
2        Senior U.S. Republican senator: 'Let Mr. Muell...
3        FBI Russia probe helped by Australian diplomat...
4        Trump wants Postal Service to charge 'much mor...
                               ...
21412    'Fully committed' NATO backs new U.S. approach...
21413    LexisNexis withdrew two products from Chinese ...
21414    Minsk cultural hub becomes haven from authorities
21415    Vatican upbeat on possibility of Pope Francis ...
21416    Indonesia to buy $1.14 billion worth of Russia...
Name: title, Length: 21417, dtype: object

In [213]:
fakeDF.pop('title')

0         Donald Trump Sends Out Embarrassing New Year’...
1         Drunk Bragging Trump Staffer Started Russian ...
2         Sheriff David Clarke Becomes An Internet Joke...
3         Trump Is So Obsessed He Even Has Obama’s Name...
4         Pope Francis Just Called Out Donald Trump Dur...
                               ...
23476    McPain: John McCain Furious That Iran Treated ...
23477    JUSTICE? Yahoo Settles E-mail Privacy Class-ac...
23478    Sunnistan: US and Allied ‘Safe Zone’ Plan to T...
23479    How to Blow $700 Million: Al Jazeera America F...
23480    10 U.S. Navy Sailors Held by Iranian Military ...
Name: title, Length: 23481, dtype: object

In [215]:
lower = trueDF['text'].str.lower()

In [216]:
trueDF['text'] = lower

In [217]:
lowerf = fakeDF.text.str.lower()

In [218]:
fakeDF.text = lowerf

In [219]:
fakeDF['label'] = 0

In [220]:
trueDF['label'] = 1

In [221]:
dataset = trueDF.append(fakeDF)

In [222]:
dataset.pop('date')

0        December 31, 2017
1        December 29, 2017
2        December 31, 2017
3        December 30, 2017
4        December 29, 2017
                ...
23476      January 16, 2016
23477      January 16, 2016
23478      January 15, 2016
23479      January 14, 2016
23480      January 12, 2016
Name: date, Length: 44898, dtype: object

In [223]:
dataset

                                                    text       subject  label
0      as u.s. budget fight looms, republicans flip t...  politicsNews      1
1      u.s. military to accept transgender recruits o...  politicsNews      1
2      senior u.s. republican senator: 'let mr. muell...  politicsNews      1
3      fbi russia probe helped by australian diplomat...  politicsNews      1
4      trump wants postal service to charge 'much mor...  politicsNews      1
...                                                  ...           ...    ...
23476  mcpain: john mccain furious that iran treated ...   Middle-east      0
23477  justice? yahoo settles e-mail privacy class-ac...   Middle-east      0
23478  sunnistan: us and allied ‘safe zone’ plan to t...   Middle-east      0
23479  how to blow $700 million: al jazeera america f...   Middle-east      0
23480  10 u.s. navy sailors held by iranian military ...   Middle-east      0

[44898 rows x 3 columns]

In [237]:
translator = str.maketrans('', '', string.punctuation)
no_punctuation = dataset.text.str.translate(translator)
dataset.text = no_punctuation

In [236]:
dataset

                                                    text  label
0      as us budget fight looms republicans flip thei...      1
1      us military to accept transgender recruits on ...      1
2      senior us republican senator let mr mueller do...      1
3      fbi russia probe helped by australian diplomat...      1
4      trump wants postal service to charge much more...      1
...                                                  ...    ...
23476  mcpain john mccain furious that iran treated u...      0
23477  justice yahoo settles email privacy classactio...      0
23478  sunnistan us and allied ‘safe zone’ plan to ta...      0
23479  how to blow 700 million al jazeera america fin...      0
23480  10 us navy sailors held by iranian military – ...      0

[44898 rows x 2 columns]

In [226]:
dataset.pop('subject')

0        politicsNews
1        politicsNews
2        politicsNews
3        politicsNews
4        politicsNews
             ...
23476     Middle-east
23477     Middle-east
23478     Middle-east
23479     Middle-east
23480     Middle-east
Name: subject, Length: 44898, dtype: object

In [238]:
no_whitespace = dataset.text.str.strip()
dataset.text = no_whitespace

In [239]:
dataset

                                                    text  label
0      as us budget fight looms republicans flip thei...      1
1      us military to accept transgender recruits on ...      1
2      senior us republican senator let mr mueller do...      1
3      fbi russia probe helped by australian diplomat...      1
4      trump wants postal service to charge much more...      1
...                                                  ...    ...
23476  mcpain john mccain furious that iran treated u...      0
23477  justice yahoo settles email privacy classactio...      0
23478  sunnistan us and allied ‘safe zone’ plan to ta...      0
23479  how to blow 700 million al jazeera america fin...      0
23480  10 us navy sailors held by iranian military – ...      0

[44898 rows x 2 columns]

In [271]:
stop_words = set(ENGLISH_STOP_WORDS)
tokens = dataset.text.str.split()

In [272]:
tokens

0        [as, us, budget, fight, looms, republicans, fl...
1        [us, military, to, accept, transgender, recrui...
2        [senior, us, republican, senator, let, mr, mue...
3        [fbi, russia, probe, helped, by, australian, d...
4        [trump, wants, postal, service, to, charge, mu...
                               ...
23476    [mcpain, john, mccain, furious, that, iran, tr...
23477    [justice, yahoo, settles, email, privacy, clas...
23478    [sunnistan, us, and, allied, ‘safe, zone’, pla...
23479    [how, to, blow, 700, million, al, jazeera, ame...
23480    [10, us, navy, sailors, held, by, iranian, mil...
Name: text, Length: 44898, dtype: object